.CastList {
  display: grid;
  max-width: calc(100vw - 48px);
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 16px;
  margin: 30px auto;
  padding: 0;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}

.CastItemImage {
  /* width: 100%; */
  height: 200px;
  object-fit: contain;
}
